@{
    ViewBag.Title = "Movies";
}

<h2>@ViewBag.JungleBook.Title</h2>
<p>Director: @ViewBag.JungleBook.Director<br />
Price: @String.Format("{0:0.00}", ViewBag.JungleBook.Price)</p>
<p><img src="/content/images/@ViewBag.JungleBook.ImageUrl" alt="@ViewBag.JungleBook.Title" /></p>

<h2>@ViewBag.BladeRunner.Title</h2>
<p>Director: @ViewBag.BladeRunner.Director<br />
Producer: @ViewBag.BladeRunner.Producer<br />
Price: @String.Format("{0:0.00}", ViewBag.BladeRunner.Price)</p>
<p><img src="/content/images/@ViewBag.BladeRunner.ImageUrl" alt="@ViewBag.BladeRunner.Title" /></p>

<h2>@ViewBag.Subway.Title</h2>
<p>Director: @ViewBag.Subway.Director<br />
Price: @String.Format("{0:0.00}", ViewBag.Subway.Price)</p>
<p><img src="/content/images/@ViewBag.Subway.ImageUrl" alt="@ViewBag.Subway.Title" /></p>