@using MbmStore.Models;
@using MbmStore.HtmlHelpers;
@model MbmStore.ViewModels.ProductsListViewModel

@{
    ViewBag.Title = "Catalogue";
}

@using (Html.BeginForm("Index", "Cart"))
{
    @Html.Hidden("returnUrl", Request.Url.PathAndQuery)
    <input type="submit" class="btn btn-success" value="View Cart" />
}

@if (Model.Products.OfType<Book>().Count() > 0)
{
    <h2>The Books</h2>
    foreach (Book book in Model.Products.OfType<Book>().ToList())
    {
        @Html.Partial("ProductSummaryBook", book);
        <br />
    }
}

@if (Model.Products.OfType<MusicCD>().Count() > 0)
{
    <h2>The Music CDs</h2>
    foreach (MusicCD cd in Model.Products.OfType<MusicCD>().ToList())
    {
        @Html.Partial("ProductSummaryMusicCD", cd)
        <br />
    }
}

@if (Model.Products.OfType<Movie>().Count() > 0)
{
    <h2>The Movies</h2>
    foreach (Movie movie in Model.Products.OfType<Movie>().ToList())
    {
        @Html.Partial("ProductSummaryMovie", movie)
        <br />
    }
}

<div>
    @Html.PageLinks(Model.PagingInfo, x => Url.Action("Index", new { page = x }))
</div>
